html, body {
  margin: 0;
  /* background-image: url("./background.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 36px;
}

.app-content .info {
  padding: 20px;
}

.centered {
  position: relative;
  top: 16%
}

.form .form-component {
  margin: 10px 0;
}

.form .form-component.radio-group {
  display: flex;
  flex-direction: row;
}

.info {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.card-list-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-component {
  margin: 15px 10px;
}

.account-info-container .info-type {
  display: flex;
  flex-direction: row;
}
